body {
    max-width: 900px;
    margin: auto;
    background-image: url(backimg.jpg);
   
}
.contenet-1 {
    display: flex;
    flex-direction: row-reverse;
    margin: 0%;
    height: 20%;
    
}

.box-1 {
    order: 1;

}

.contener-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3%;
   
}

ul.hr li {
    display: inline;
    width: max-content;
    font-size: 30px;
}
.name {
    background-color: rgb(236, 255, 128);
}

.maincontent {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10px;

}
.infeducetion {
    margin: 0;
    background-color: black;
    padding: 10px;
}
